<!doctype html>
<html ng-app="angBC" ng-csp>
  <head>
    <title>Breadcrumbs: Find That Page You Saw That One Time</title>
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/popup.css">
    <script src="/bower_components/angular/angular.min.js"></script>
    <script src="/bower_components/angular-route/angular-route.min.js"></script>
    <script src="/scripts/app.js"></script>
    <script src="/scripts/popup.js"></script>
  </head>
  <body id="popup">
    <h1>My Breadcrumbs</h1>
    <div ng-controller="PageController">
      <form name="searchForm" ng-submit="runSearch()" novalidate>
        <input type="text" name="query" class="form-control" autocomplete="off"
          ng-model="searchQuery"
          placeholder="What are you looking for?"
        >
        <button type="submit" value="Search" class="btn btn-primary"> 
          <!-- TODO: add validation -->
          Search
        </button>
      </form>
      <h3>{{ message }}</h3>
      <ul>
        <li ng-repeat="displayedItem in displayedItems | filter:searchQuery">
          <a target="_blank" href="http://{{ displayedItem.url }}">
            {{ displayedItem.title }}
          </a>
        </li>
      </ul>
    </div>
  </body>
</html>