body {
  width: 800px;
  margin: 30px;
  
  /*min-width: 800px;
  font-family: "Segoe UI", "Lucida Grande", Tahoma, sans-serif;
  font-size: 100%;
  white-space: pre;
  text-overflow: ellipsis;
  overflow: hidden;*/
}

.form-control {
  display: inline;
  width: 200px;
  margin-top: 5px
}