body {
  width: 800px;
  margin: 30px;
  
  /*min-width: 800px;
  white-space: pre;
  text-overflow: ellipsis;
  overflow: hidden;*/
}

.form-control {
  display: inline;
  width: 550px;
  margin-top: 5px
}

